@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Prompt&display=swap');

body {
    background-color: rgb(228, 213, 216);
}

@media screen and (max-width: 600px) {
    .formulario {
        width: 90vw !important;
        height: 45vh !important;
    }
    .hide_movil {
        display: none !important;
    }
}

.principal {
    min-height: calc(100vh - 110px);
    font-family: 'Prompt', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.barra_nav {
    font-family: 'Josefin Sans', sans-serif;
    height: 60px;
    background-color: rgb(232, 147, 170);
}

.home_letra {
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large;
}

.links_nav {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgb(211, 186, 219);
    transition: background-color 0.3s;
}

.links_nav:hover {
    background-color: rgb(120, 171, 212);
}

.icono {
    padding-left: 10px;
    margin-top: 0.2em;
    font-size: 2em;
    color: black;
}

.iconos_navbar {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.07em;
}

.iconos_navbar.foot {
    padding-top: 0 !important;
    padding-bottom: 0.2em !important;
}

.social {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 10px;
    font-size: 1.25em;
}

.formulario {
    width: 40%;
    padding: 20px 8px;
    border: 2px solid black;
    border-radius: 15px;
}

.area_texto {
    height: 8em;
}

.subtitulo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
}

.input-group-text.inp {
    background-color: rgb(211, 186, 219);
}

.style_alerta {
    padding: 1.5em;
    border-radius: 10px;
    border-width: 3px;
    border-color: red;
    background-color: rgb(240, 202, 202);
    position: absolute;
    top: 5em;
}

.style_alerta.hit {
    color: #0f5132 !important;
    background-color: #d1e7dd !important;
    border-color: #4fb889 !important;
}

.alert-dismissible .btn-close {
    font-size: 13px;
    padding-top: 1px;
    padding-right: 1px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(232, 147, 170);
}

