@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Prompt&display=swap');


body {
    background-color: rgb(228, 213, 216);
}

@media screen and (max-width: 600px) {
    .foto_movil {
        margin-left: 6.5rem !important;
    }
    .ic_main.ic_main_movil {
        margin-left: 10px !important;
    }
    .contacto {
        margin-right: 5px !important;
    }
    .hide_movil {
        display: none !important;
    }
    .iconos_juegos {
        width: 50px !important;
        height: 50px !important;
    }
}

@media screen and (min-width: 1920px) {
    .contacto {
        margin-right: 3.2em !important;
    }    
}

.principal {
    font-family: 'Prompt', sans-serif;
    min-height: calc(100vh - 120px);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgb(232, 147, 170);
}

.foto {
    margin-top: 30px;
    margin-left: 40px;
    height: 80%;
    border: 3px solid black;
    border-radius: 10px;
}

.barra_nav {
    height: 60px;
    background-color: rgb(232, 147, 170);
}

.home_letra {
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large;
}

.links_nav {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgb(211, 186, 219);
    transition: background-color 0.3s;
}

.social {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 10px;
    font-size: 1.25em;
}

.links_nav:hover {
    background-color: rgb(120, 171, 212);
}

.links_nav:visited {
    color: black;
}

.icono {
    padding-left: 10px;
    margin-top: 0.15em;
    font-size: 2em;
    color: black;
}

.iconos_navbar {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.07em;
}

.iconos_navbar.foot {
    padding-top: 0 !important;
    padding-bottom: 0.2em !important;
}

.borde {
    padding: 5px 20px;
    border: 2px solid white;
    border-radius: 10px;
}

.ic_main {
    margin-left: 30px !important;
    margin-bottom: 0.5em !important;
}

.subtitle {
    font-weight: bold;
    font-family: 'Prompt', sans-serif;
    display: inline;
}

h6 {
    display: inline;
}

.lista_info {
	list-style: none;
	margin-left: 0.7em;
	padding-left: 1.2em;
}

.lista_info li:before {
	content: "➔";
	position: relative;
	left: -0.7em;
}

.lista_juegos {
    list-style: none;
}

.iconos_juegos {
    width: 41px;
    height: 41px;
}

.row.juego {
    margin-right: 0;
    margin-left: 0;
}

.amarillo {
    color: yellow;
}

.no_margenes {
    margin-right: 0 !important;
    margin-left: 0 !important;
}







